{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}

  <p>Bonjour {{ admin }} nous sommes le {{ "now"|date('d M. Y') }}</p>

  <p>Planning du jour</p>

  {% for formation in formations %}

    <ul class="list-group">
      <li class="list-group-item active">Formation: {{formation.nom}} du {{ formation.dateDebut|date('d M. Y') }} au {{ formation.dateFin|date('d M. Y') }}</li>
      <li class="list-group-item">Ville: {{formation.localisation.ville}} </li>

      <li class="list-group-item">
        Formateur:
        {% for animer in formation.animers %}
          {% if animer.date|date('d M. Y') == "now"|date('d M. Y') %}
            {{ (animer.fkAnimerUser.pseudo) }}
          {% endif %}
        {% endfor %}
      </li>
 {# {{ dump(formation.animers) }} #}
 {# {{ dump(formation) }} #}



    </ul>

  {% endfor %}

{% endblock %}


