{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}

	{# section pour la bande du haut #}
	<section class="row mb-3">
		<div>Bonjour
			{{ admin }}</div>
		<div class="font-weight-bold ml-auto">{{ "now"|date("d M. Y") }}</div>
	</section>

	{# section pour la date du jour #}
	<section class="row">
		<u class="font-weight-bold my-2 col-12">Planning du jour</u>

		{% for formation in formations %}

			<ul class="list-group col-6 mb-1">

				<li class="list-group-item active">
					<u>Formation:</u>
					{{formation.nom}}
					du
					{{ formation.dateDebut|date('d M. Y') }}
					au
					{{ formation.dateFin|date('d M. Y') }}
				</li>

				<li class="list-group-item">
					<u>Ville:</u>
					{{formation.localisation.ville}}
				</li>

				<li class="list-group-item">
					<u>Formateur:</u>

					{# j'initialise une variable comme n'ayant pas de formateur par défaut #}
					{% set noFormateur = true %}

					{% for animer in formation.animers %}

						{% if animer.date|date('d M. Y') == "now"|date('d M. Y') %}

							<a href="{{path('home_formateur',{id:animer.fkAnimerUser.id})}}">
								<b>{{animer.fkAnimerUser.pseudo}}

									{# je test si j'ai un formateur le matin ou l'après-midi #}
									{% if animer.typeJournee == 1 %}
										(matin)
									{% elseif animer.typeJournee == 2 %}
									(après-midi)
									{% endif %}

								</b>
							</a>

							{# la variable passe à false #}
							{% set noFormateur = false %}

						{% endif %}

					{% endfor %}

					{# si je n'ai pas de formateur j'affiche une alerte #}
					{% if noFormateur %}

            <div class="alert alert-danger">
              <i class="fas fa-hand-paper">
                !!! Pas de formateur présent !!!
              </i>
            </div>

					{% endif %}

				</li>

			</ul>

		{% endfor %}

	</section>

	{# section pour la date du lendemain #}
	<section class="row">
		<div class="font-weight-bold mt-5 mb-2 col-12">
			<u>Et demain:</u>
			{{ "now"|date_modify("+1 day")|date("d M. Y") }}</div>

		{% for formation in formations %}

			<ul class="list-group col-6 mb-1">

				<li class="list-group-item active">
					<u>Formation:</u>
					{{formation.nom}}
					du
					{{ formation.dateDebut|date('d M. Y') }}
					au
					{{ formation.dateFin|date('d M. Y') }}</li>
				<li class="list-group-item">
					<u>Ville:</u>
					{{formation.localisation.ville}}
				</li>

				<li class="list-group-item">
					<u>Formateur:</u>

					{# j'initialise une variable comme n'ayant pas de formateur par défaut #}
					{% set noFormateur = true %}

					{% for animer in formation.animers %}

						{% if animer.date|date('d M. Y') == "now"|date_modify("+1 day")|date("d M. Y") %}

							<a href="{{path('home_formateur',{id:animer.fkAnimerUser.id})}}">
								<b>{{animer.fkAnimerUser.pseudo}}

								{# je test si j'ai un formateur le matin ou l'après-midi #}
								{% if animer.typeJournee == 1 %}
									(matin)
								{% elseif animer.typeJournee == 2 %}
								(après-midi)
								{% endif %}

								</b>
							</a>

							{% set noFormateur = false %} {# la variable passe à false #}

						{% endif %}

					{% endfor %}

					{# si je n'ai pas de formateur j'affiche une alerte #}
					{% if noFormateur %}

            <div class="alert alert-danger">
              <i class="fas fa-hand-paper">
                !!! Pas de formateur présent !!!
              </i>
            </div>

					{% endif %}

				</li>

			</ul>

		{% endfor %}

	</section>

	{# {{ dump(formation.animers) }} #}
	{# {{ dump(formation) }} #}

{% endblock %}
