{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/lib/fullcalendar/main.min.css')}}">
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="row">

		<div class="col-3 mt-3">

			<div class="formations mb-3">

				<h5>Liste des formations</h5>


			</div>

			<div class="formateurs">

				<h5>Liste des formateurs</h5>


			</div>

		</div>


		<div class="col-9 mt-3">
			<div id="calendrier"></div>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('assets/lib/fullcalendar/main.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/lib/fullcalendar/locales/fr.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/js/calendrier.js')}}" type="text/javascript"></script>
{% endblock %}
