{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" integrity="sha512-CbQfNVBSMAYmnzP3IC+mZZmYMP2HUnVkV4+PwuhpiMUmITtSpS7Prr3fNncV1RBOnWxzz4pYQ5EAGG4ck46Oig==" crossorigin="anonymous"/>
	<link rel="stylesheet" href="{{asset('assets/lib/jquery-ui.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/lib/fullcalendar/main.min.css')}}">
	{{ parent() }}
{% endblock %}

{% block body %}
	<div id="loadingDiv">
		<img src="{{asset('assets/loading.gif')}}" alt="">
	</div>
	<div class="row">
		<div id="formation" class="col-md-3 mt-3">
			<div class="formations mb-2 p-2">
				<input type="checkbox" class="form-check-input" id="listeFormation" checked><h5>Liste des formations</h5>
				<div class="listformation">
					{% for formation in formations %}
						<div class="form-group form-check" style="background-color:{{formation.color}}">
							<input type="checkbox" id="check{{formation.id}}" checked class="form-check-input checkboxformation" data-id="{{formation.id}}">
							<label class="form-check-label" for="check{{formation.id}}">
								{{formation.nom}}
								-
								{{formation.localisation.ville}}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
			<div id="formateur" class="formateurs p-2">
				<h5>Liste des formateurs</h5>
				<div class="listformateur">
					<ul class="p-0">
						{% for formateur in formateurs %}
							<li>
								<a href="{{path('home_formateur',{id:formateur.id})}}">{{formateur.pseudo}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9 mt-3">
			<div id="calendrier"></div>
		</div>
	</div>

	<!-- MODALE AJOUT -->
	<div class="modal fade" id="modalAjoutDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAjoutDateTitle"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{{form_start(form)}}
				{{form_errors(form)}}
				<div class="modal-body">

					{{form_errors(form)}}
					{{form_row(form.date)}}
					{{form_row(form.typeJournee)}}
					{{form_row(form.fkAnimerFormation)}}
					{{form_row(form.fkAnimerUser)}}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="button" id="js-valid-ajout" class="btn btn-primary">Sauvegarder</button>
				</div>
				{{form_end(form)}}
			</div>
		</div>
	</div>

	<!-- MODALE AFFICHE INFO -->
	<div class="modal fade" id="modalAfficheInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAfficheFormation"></h5>
				</div>
				<div class="modal-body" id="modalAfficheDatesFormation"></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('assets/lib/fullcalendar/main.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/lib/fullcalendar/locales/fr.js')}}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>
	<script src="{{asset('assets/js/calendrier.js')}}" type="text/javascript"></script>
	<script src="{{asset('bundles/fosjsrouting/js/router.js')}}" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
