{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/lib/fullcalendar/main.min.css')}}">
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="row">

		<div class="col-3 mt-3">

			<div class="formations mb-3">

				<h5>Liste des formations</h5>
			</div>

			<div class="formateurs">

				<h5>Liste des formateurs</h5>
			</div>
		</div>


		<div class="col-9 mt-3">
			<div id="calendrier"></div>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalAjoutDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAjoutDateTitle"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{{form_start(form)}}
				<div class="modal-body">

					{{form_row(form.date)}}
					{{form_row(form.typeJournee)}}
					{{form_row(form.fkAnimerFormation)}}
					{{form_row(form.fkAnimerUser)}}


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary">Sauvegarder</button>
				</div>
				{{form_end(form)}}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('assets/lib/fullcalendar/main.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/lib/fullcalendar/locales/fr.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets/js/calendrier.js')}}" type="text/javascript"></script>
{% endblock %}
