{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="row">

		<h1 class="col-12 text-center mt-2">Enregistrement</h1>

		<div class="col-12 px-md-5 row">
			<div class="card login__form col-md-8 mx-auto ">
				<article class="card-body mx-auto">

					{{ form_start(registrationForm) }}
					{% for messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-danger" role="alert">{{ message }}</div>
						{% endfor %}
					{% endfor %}
					{% if not registrationForm.vars.valid %}
						{# Loop through every form item #}
						{% for child in registrationForm.children %}
							{# Display the errors of the form item #}
							{% for error in child.vars.errors %}
								<div class="alert alert-danger" role="alert">{{ error.message }}</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-user"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.firstname) }}
					</div>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-user"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.lastname) }}
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-envelope"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.email) }}
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-phone"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.phoneNumber) }}
					</div>
					<!-- form-group end.// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-lock"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.plainPassword) }}
						<div class="input-group-append js-hidepassword">
							<span class="input-group-text">
								<i class="fas fa-eye"></i>
							</span>
						</div>
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-lock"></i>
							</span>
						</div>
						{{ form_widget(registrationForm.confirmPassword) }}
						<div class="input-group-append js-hidepassword">
							<span class="input-group-text">
								<i class="fas fa-eye"></i>
							</span>
						</div>
					</div>
					<!-- form-group// -->
					<div class="form-group form-check">
						{{ form_row(registrationForm.agreeTerms,{'label':'En m\'inscrivant, j\'accepte que mes données soient conservées et fassent l\'objet de traitements informatiques pour le bon fonctionnement de  l\'application'}) }}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">S'enregistrer</button>
					</div>
					{{ form_end(registrationForm) }}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
