{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<div class="card mt-4 shadow-sm w-50">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal text-center">
						<u>Fiche Utilisateur</u>
					</h4>
				</div>
				<div class="card-body row">
					<div class="col-md-6">
						<div class="mt-1">
							<strong>Nom & Prénom:</strong>
							{{formateurs.lastname}}
							{{formateurs.firstname}}</div>
						<div class="mt-1">
							<strong>Mail:</strong>
							{{ formateurs.email }}</div>
						<div class="mt-1">
							<strong>Téléphone:</strong>
							{{ formateurs.phoneNumber }}</div>
						<div class="mt-1">
							<strong>Compétences:</strong>
							{% for talent in formateurs.talents %}
								{{ talent.nom }}
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="mt-1">
							<strong>Formations en cours:</strong>
							<ul>
								{% for animer in formateurs.animers %}
									<li>{{ animer.date|date("m/d/Y") }}
										:
										{{ animer.fkAnimerFormation.nom }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<a href="{{ path('profil_edit', {'id' : formateurs.id}) }}" class="btn btn-lg btn-block btn-primary mt-2">Modifier</a>
					<a href="{{ path('profil_resetpass', {'id' : formateurs.id}) }}" class="btn btn-lg btn-block btn-primary">Changer mot de passe</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
