{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="mt-3 ml-3">
		<h1>Fiche Utilisateur</h1>
		<div>Nom & Prénom:
			{{formateurs.lastname}}
			{{formateurs.firstname}}</div>
		<div>Mail:
			{{ formateurs.email }}</div>
		<div>Téléphone:
			{{ formateurs.phoneNumber }}</div>
		<div>Compétences:
			{% for talent in formateurs.talents %}
				{{ talent.nom }}
			{% endfor %}
		</div>
		<div>Formations en cours:
			{% for animer in formateurs.animers %}
				{{ animer.date|date("m/d/Y") }}
				:
				{{ animer.fkAnimerFormation.nom }}
			{% endfor %}
		</div>
		<a href="{{ path('profil_edit', {'id' : formateurs.id}) }}">Modifier</a>
	</div>
{% endblock %}
