{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<div class="card b-color mt-4 shadow-sm w-75">
				<div class="card-header t-color">
					<h4 class="my-0 font-weight-normal text-center text-white">
						<u>Changer de mot de passe</u>
					</h4>
				</div>
				<div class="card-body row">
					<div class="col-12">
						{{form_start(form)}}
						{{form_errors(form)}}

						{{form_row(form.oldPassword)}}
						{{form_row(form.plainPassword)}}
						<div class="row col-12">
							<div class="col-md-6 mt-2">
								<button type="submit" class="btn btn-lg btn-block btn-primary">Modifier</button>
							</div>
							<div class="col-md-6 mt-2">
								<a href="{{ path('profil_index') }}" class="btn btn-lg btn-block btn-primary">Retour</a>
							</div>
							{{form_end(form)}}


						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
